body {
    background-color: white;
    background-size: cover;
    font-family: Courier New;
    padding: 0;
    margin: 0;
}
.navigation {
    display: flex; /*Use flex to have seperate blocks for menu/logo*/
    justify-content: space-between;
    background-color: yellow;
    height: 2em; /*Use EM because it is relative and supports multiple OS*/
    align-items: center; /*Align items in navigation container in the middle*/
    padding: 1.5em; /*Use EM because it is relative and supports multiple OS*/
}
.navigation ul {
    display: flex; /*Use flex again to align UL menu items*/
    list-style: none; /*Remove list style*/
    padding: 0;
    margin: 0;
}
.navigation li {
    outline: auto;
}
.main-menu a {
    text-decoration: none;
}
.sub-menu {
    display: flex;
    flex-direction: column; /* Submenu items to be displayed vertically */
    position: absolute;
    &.sub-menu li{
        display: none; /*Hide sub-menu initially*/
    }
}
.navigation li:hover .sub-menu li {
    display: flex;
}
