* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; /* Include padding and borders within the width */
}
body {
    background-color: white;
    background-size: cover;
    font-family: Courier New;
}
.header {
    position: relative; /*Relative position*/
    width: 100%;
    padding: 0.25em;
    display: flex; /*Use flex to have seperate blocks for menu*/
    align-items: center; /*Align items in middle*/
    background-color: #ffcc00;
    justify-content: space-between; /*Equal space between content*/
}
.header-buttons {
    width: 3em;
    height: 3em;
    font-size: 2em;
    font-weight: bold;
    background: transparent;
    border-color: transparent;
    border-width: 0.2em;
    cursor: pointer;
    &:hover {
        background-color: #ffcc00;
        border-color: black;
        border-radius: 0.25em;
    }
}
.logo {
    font-size: 4em;
    margin: 0.2em; /*Added margin for logo*/
    border: dotted;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.menu{
    display: none;
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFD866;
}

/*(Problem: when zooming going out of place.) Solution for adjusting size for smaller devices under 768px */
@media (max-width: 768px) {
    .logo {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }
    .header-buttons {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }
}